<html>

<head>
    <title>LGSM Web</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px Helvetica, Arial;
        }
    </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>
<body>
    <h1>Hello World</h1>
</body>
</html>