<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Custom styles for this template -->
    <link href="styles/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
</head>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
    });
    socket.on('returnserverlist', function(data){
        console.log(data);
        var serverList = data;
    });
</script>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-end">
        <!-- Brand -->
        <a class="navbar-brand" href="#">LGSM Web</a>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#List-Servers" id="navbardrop" data-toggle="dropdown">
                        Select Server
                    </a>
                    <div class="dropdown-menu" id="Server-Select">
                        <a class="dropdown-item" href="#">Link 1</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">logout</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <!-- new -->
            <a href="#menu-toggle" id="menu-toggle2">
                <span><i class="fas fa-angle-right fa-xl"></i></span>
            </a>
            <!-- /new -->
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#menu-toggle" id="menu-toggle">
                        Collapse Menu
                        <span class="float-right"><i class="fas fa-angle-left fa-xl"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Server Info</a>
                </li>
                <li>
                    <a href="#">New Server</a>
                </li>
                <li>
                    <a href="#">Users</a>
                </li>
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <h1>Linux GSM Web</h1>
                <p>Click the sidebar to the right to expand or collapse the sidebar menu or use the above menu to select
                    a different server to manage or logout.</p>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
<script type="text/javascript" src="scripts/server-manager-client.js"></script>
</html>